<!DOCTYPE html>
<html lang="en">
	
	<head>
		<% include ../partials/head %>
	</head>
	
	<body class="container">
	
		<header>
			<% include ../partials/header %>
		</header>
		
		<main>

			<% results.forEach(function(result) { %>

				<p><%= result.primaryTitle %></p>

			<% }); %>

		</main>
		
		<footer>
		<% include ../partials/footer %>
		</footer>
	</body>
	
</html>